<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <connectionStrings>
    <add name="baglan" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SIRAMATIK;User ID=damla;Password=damla"/>
     <add name="UserName_" connectionString="Yetkili"/>
     <add name="DamlaPassword_" connectionString="12345"/>

  </connectionStrings>
</configuration>